html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

* {
  box-sizing: border-box;
}

.demos {
  text-align: center;
  color: #333;

  h1 {
    margin: 40px 0 16px;
    font-size: 40px;
  }

  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 25px;
  }
}

.demos button, button.back {
  font-size: 18px;
  line-height: 42px;
  padding: 0 40px;
  background: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background: #ddd;
  }

  &:active {
    background: #ccc;
  }
}

button.back {
  position: fixed;
  top: 8px;
  left: 8px;
  color: #333;
  width: auto;
  z-index: 2;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.33);
}
